body, p, li, a { font-family: Calibri;font-size:11pt;}
h1, h2, h3 { font-family: 'Yanone Kaffeesatz', arial, serif; }
body { margin:0;padding:0;}

.regularText {
	font-family:Georgia,serif;
	color: #000c29;
	font-size: 11px;
}
.backgroundColor {
	background: #44b9b2;
}

#hd {
	width : 100%;
	height : 55px;
	background-color : #092E67;
	margin-top : 0;
	padding-top : 5px;
	border-bottom : 1px solid #888;
	z-index : 0;
}
#ft {
	position : absolute;
	bottom : 0;
	width : 100%;
	height : 50px;
	background-color : #FF5500;
	border-top : 1px solid #888;
	z-index : 0;
}
#logo,#bd {
	width : 1000px;
	margin: 0 auto;
	padding: 25px 50px 0 50px;
}
#logo h1 {
	color : white;
	font-size:24pt;
	display: inline;
}
#logo img { 
	display:inline;
	vertical-align: bottom;
	margin-left : 250px;
	margin-right : 5px;
}
body { margin-top : 0; padding-top : 0;}
#logo, #logo h1 { margin-top : 0; padding-top : 0;}
#bd {
	position : absolute;
	top : 55px;
	bottom : 35px;
	left : 50%;
	margin-left : -520px;
	z-index : 1;
	overflow: auto;
	background-color : #fff;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-moz-box-shadow: 0px 0px 10px #888;
	-webkit-box-shadow: 0px 0px 10px #888;
	box-shadow: 0px 0px 10px #888;
}
a, a:visited, a:hover, a:active {
	color : #6493D2;
}
h2 {
	padding : 0; margin:0;
	font-size:22pt;
	color:#FF5500;
}
h3 {
	padding : 0; margin:0;
	font-size:20pt;
	color:#092E67;
}


.repo-panel {
	width: 450px;
	padding: 8px;
	margin: 15px;

	border-top: 2px solid #eeeeee;
	border-right: 2px solid #bbbbbb;
	border-bottom: 2px solid #bbbbbb;
	border-left: 2px solid #eeeeee;
	background: #c8c8f6;
}












p.performance {
	background: #f5f5b5;
	border: 2px solid #e7a45e;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 4px;
}

div.controls {
	float: right;
}
div.clearer {
	clear: both;
}

div.labelContainer {
	width: 64px;
	height: 64px;
	border: 1px dotted black;
}
div.labelContainer span {
	display: block;
	width: 100%;
	height: 100%;
}

div.vertical {
	width: 90%;
}
div.vertical div.itemStudent {
	border-top: 1px solid #eeeeee;
	border-right: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
	border-left: 1px solid #eeeeee;
	background: #dddddd;
}
div.vertical div.item {
	padding-right: 8px;
}
/*div.horizontal {
	width: 50%;
	min-height: 30px;
	background: #6493D2;
}
div.horizontal div.item {
	float:left;
	padding-right: 16px;
	border-top: 1px solid #eeeeee;
	border-right: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
	border-left: 1px solid #eeeeee;
	background: #dddddd;
}*/
span.initiate {
	padding-left: 8px;
	background: url(initiate.gif) no-repeat center center;
}

.treeContainer {
	min-height: 10px;
	width: 50%;
	border: 1px dotted black;
}

table {
	border-spacing: 0px;
	border-collapse:collapse;
}

tr.even {
	background: #eeeeee;
}

div.scroller {
	height: 240px;
	width: 240px;
	overflow: scroll;
	/* must be relative too or nested table's overflow will not be hidden on IE8 */
	position: relative;
}

div.scroller table {
	width: 480px;
}

div#veil {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.5);
}
